div {background-color: #9966FF; border-style: solid; border-color: #660099; border-width: 10px;}

body {background-color: #9900FF; border-color: #9933CC; border-width: 7px}

h1 {color: white; font-size: 20px; font-style: italic}

h3 {color: white; font-size: 16px}

h6 {color: white; font-size: 13px}

h4 {color: blue; font-size: 14px}
